
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 
  <div class="bslf">
  
      <h2 class="text-center">login</h2>    
      <form [formGroup]="loginGroup" (ngSubmit)="login()" #formtwo="ngForm" >
        
      <div class="form-group">

          <mat-form-field >
              <mat-label>user mail</mat-label>
              <input  matInput type="input" placeholder="username" formControlName="email" >
            </mat-form-field>

      </div>

      <div class="form-group">

          <mat-form-field>
              <mat-label>Password</mat-label>
              <input matInput type="password" placeholder="Password" formControlName="password" >
            </mat-form-field>
      
      </div>
      <div class="form-group clearfix">
          <button type="submit" mat-button color="primary">Submit</button>
      </div>
      <div class="clearfix">
        
   
      </div>        
    </form>
  </div>

  
      
        



